{% extends "layout.html" %}

{% block title %}
    More info
{% endblock %}

{% block main %}
    <h2>Project "TL;DR"</h2>
    <br>
    <p>
        <i>"TL;DR" ("Too Long; Didn't read")</i> project is a website which allows a user to paste an arbitrary text and:
    </p>
    <ul>
        <li>
            get it summarized to a given number of sentences or
        </li>
        <li>
            get answers to the user's questions based on the text provided.
        </li>
    </ul>
    <img src="/static/tldr_demo.gif" alt="TL;DR Demo (gif)">
    <br>
    <br>
    <p>
        Text is summarized following extractive summarization approach using Natural Language Toolkit (<a href="https://www.nltk.org/">NLTK</a>; adapted from [<a href="https://medium.com/luisfredgs/automatic-text-summarization-with-machine-learning-an-overview-68ded5717a25">1</a>]) and question answering is implemented using a pre-trained machine learning model <a href="https://en.wikipedia.org/wiki/BERT_(language_model)">BERT</a>, fine-tuned on the <a href="https://rajpurkar.github.io/SQuAD-explorer/">SQuAD</a> benchmark (adapted from [<a href="https://mccormickml.com/2020/03/10/question-answering-with-a-fine-tuned-BERT/">2</a>]).
    </p>
    <p>
        Frontend: HTML/CSS-Bootstrap/JS.
        <br>
        Backend: Python/Flask.
    </p>
    <p>
        Source code: <a href="https://github.com/IuriiD/nlp_bert_nltk">https://github.com/IuriiD/nlp_bert_nltk</a>
    </p>
    <p>
        I created this app as my <a href="https://cs50.harvard.edu/x/2020/project/">final project</a> in the <a href="https://cs50.harvard.edu/x/2020/">CS50</a> course and as my first acquiaintance with BERT and NTLK.
    </p>
    <p>
    References:
    <ol>
        <li><a href="https://medium.com/luisfredgs/automatic-text-summarization-with-machine-learning-an-overview-68ded5717a25">Automatic Text Summarization with Machine Learning — An overview</a></li>
        <li><a href="https://mccormickml.com/2020/03/10/question-answering-with-a-fine-tuned-BERT/">Question Answering with a Fine-Tuned BERT</a></li>
    </ol>
    </p>
{% endblock %}

{% block footer %}

    <a href="/">Main</a>

{% endblock %}
